@keyframes spinning {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes shuttering {
  0% {
    opacity: 1;
  }
  49.99% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.button_tertiary {
  padding: 0.25rem 0.5rem;
  display: inline-flex;
  border: 3px solid var(--color-gray-dark);
  border-radius: var(--border-radius);
  color: var(--color-gray-dark);
  font-weight: bold;
  font-size: 0.9rem;
}